.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 10;
    &-bg{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,.5);
    }
    &-content{
      position: absolute;
      margin: 30px 0;
      max-width: 782px;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-color: #2d4560;
      -webkit-box-shadow: 15px 15px 15px 0 rgba(133,133,133,.1);
      -moz-box-shadow: 15px 15px 15px 0 rgba(133,133,133,.1);
      box-shadow: 15px 15px 15px 0 rgba(133,133,133,.1);
      border-radius: 8px;
      overflow: hidden;
        &-header{
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #113352;
          padding: 15px 20px;
            .title{
              text-transform: uppercase;
              margin: 0;
              letter-spacing: .05em;
            }
        }
        &-body{
          font-weight: 300;
          padding: 10px 20px;
            p{
              line-height: 1.5em;
            }
        }
    }
}

.close-btn{
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
    &:focus{
      outline: none;
    }
    &:before,
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #ffffff;
      border-radius: 4px;
    }
    &:before{
      top: 12px;
      left: 1px;
      transform: rotate(45deg);
    }
    &:after{
      bottom: 10px;
      left: 1px;
      transform: rotate(-45deg);
    }
}

@media only screen and (max-width: 767px) {
  .modal{
    &-content{
      margin: 0 0 30px;
      top: 0;
      transform: translate(-50%,0);
    }
  }
}