@import "components/bets/bets";
@import "components/svg/svg";
@import "components/slider/slider";
@import "components/input/input";
@import "components/modal/modal";

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  backface-visibility: hidden;
  text-rendering: geometricPrecision;
  background-color: #292929;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #ffffff;
}

#wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page{
  &-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 5;
    background-color: #5da5ed;
      &-btn{
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: #ffffff;
        border-radius: 50%;
        top: 5px;
        right: 10px;
        cursor: pointer;
      }
  }
  &-columns{
    display: flex;
    padding: 90px 20px 40px;
    justify-content: space-between;
      &-item{
        padding: 0 20px;
        width: 30%;
          &:nth-child(2){
            width: 40%;
          }
      }
  }
}

.content{
  background-color: #525252;
  border-radius: 20px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
    &-data{
      background-color: #133252;
      max-width: 602px;
      width: 100%;
      margin: 0 auto;
      border-radius: 10px;
      overflow-y: hidden;
      overflow-x: auto;
    }
}

.modal-open{
  overflow: hidden;
}

@media only screen and (max-width: 1500px) {
  .page{
    &-columns{
      &-item{
        padding: 0 10px;
          &:nth-child(2){
          }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .page{
      &-columns{
        flex-direction: column;
          &-item{
            width: 100%;
              &:nth-child(2){
                width: 100%;
              }
          }
      }
  }
  .content{
    height: auto;
    min-height: 450px;
    margin-bottom: 30px;
    padding: 30px 10px;
  }
}

@media only screen and (max-width: 767px) {
  .page{
      &-columns{
        padding: 80px 10px 10px;
      }
  }
  .vertical-slider{
    height: 450px;
  }
}