.table{
  border-collapse: collapse;
  width: 100%;
  th{
    padding: 8px 10px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .05em;
    color: #7d9cc6;
    text-align: left;
    background-color: #275789;
    font-weight: 400;
    &:nth-child(1){
      padding: 8px 10px 8px 30px;
    }
    &:last-child{
      padding: 8px 30px 8px 10px;
    }
  }
  td{
    padding: 20px 10px;
    text-align: left;
    font-size: 13px;
    white-space: nowrap;
    &:nth-child(1){
      padding: 20px 10px 20px 30px;
    }
    &:last-child{
      padding: 20px 30px 20px 10px;
    }
  }
}

.bet,
.multiplier,
.profit{
  font-weight: 900;
  display: inline-flex;
  align-items: center;
}

.bitcoin{
  display: inline-block;
  width: 12px;
  height: 12px;
  transform: rotate(17deg);
  margin-right: 3px;
}

@media only screen and (max-width: 576px) {

  .table{
    th, td{
      &:nth-child(2),
      &:nth-child(3){
        display: none;
      }
    }
  }

}